:root {
    --bg-cl: #faf6f2;
    --primary: #0b2940;
    --secondary: #7b8a98;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    background-color: var(--bg-cl);
    color: var(--primary);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
}

.top-bar {
    background-color: var(--white);
    border-bottom: 1px solid rgba(123, 138, 152, 0.2);
}

.top-bar-inner {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header h1 {
    font-size: 20px;
    font-weight: 600;
}

.header p {
    font-size: 14px;
    color: var(--secondary);
}

.btn {
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.btn-clear {
    background-color: #dc2626;
    color: var(--white);
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.tab {
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-weight: 500;
}

.tab.all {
    background-color: var(--bg-cl);
    color: var(--primary);
}

.tab.pending {
    background-color: #fef3c7;
    color: var(--primary);
}

.tab.preparing {
    background-color: #dbeafe;
    color: var(--primary);
}

.tab.ready {
    background-color: #dcfce7;
    color: var(--primary);
}

.tab.delivered {
    background-color: #e5e7eb;
    color: var(--primary);
}

.tab.active {
    background-color: var(--primary);
    color: var(--white);
}


.content {
    background-color: var(--white);
    border-radius: 14px;
    padding: 64px 24px;
    border: 1px solid rgba(123, 138, 152, 0.25);
}

.empty-state {
    text-align: center;
}

.empty-state .icon {
    width: 52px;
    height: 52px;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 0 auto 16px;
    color: var(--secondary);
}

.empty-state h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.empty-state p {
    font-size: 14px;
    color: var(--secondary);
}

.orders {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.order-card {
    width: 350px;
    background-color: var(--white);
    border-radius: 14px;
    padding: 16px;
}

.order-card[data-status="pending"]{
    background-color: #fef9c3;
    border: 2px solid #fde047;
}

.order-card[data-status="preparing"]{
    border: 2px solid #7ea9ff;
}

.order-card[data-status="ready"]{
    border: 2px solid #0fd126;
}

.order-card[data-status="delivered"]{
    background-color: #eaeaea;
    border: 2px solid #3e4147;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.order-header .time {
    font-size: 12px;
    color: #6b7280;
}

.status {
    font-size: 13px;
    font-weight: 500;
}

.status.pending {
    color: #92400e;
}

.status.preparing{
    color: #1462ff;
}

.status.ready{
    color:#0db921;
}

.status.delivered{
    color: #3d3e40
}

.order-items {
    font-size: 14px;
    margin-bottom: 12px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.order-total {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.btn-primary {
    width: 100%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-primary[data-status="pending"]{
    background-color: #2563eb;
}

.btn-primary[data-status="preparing"]{
    background-color: #0db921;
}

.btn-primary[data-status="ready"]{
    background-color: var(--primary);
}

.btn-delete {
    width: 100%;
    background-color: #fef2f2;
    color: #dc2626;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


.popUp-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.47);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popUp {
    background-color: var(--white);
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.popUp p {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
}

.popUp-buttons {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.popUp-buttons .btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.popUp-buttons .popUp-yes {
    background-color: #ff0000;
    color: var(--white);
}

.popUp-buttons .popUp-no {
    background-color: var(--primary);
    color: #ffffff;
}

.login-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(24, 24, 24, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.login-box h2 {
    margin-bottom: 8px;
}

.login-box p {
    font-size: 14px;
    color: var(--secondary);
    margin-bottom: 24px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding: 12px;
    padding-right: 72px;
    height: 44px;
    line-height: 44px;
}

.toggle-password {
    position: absolute;
    top: 0;
    right: 12px;
    height: 44px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--primary);
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.toggle-password:hover {
    text-decoration: underline;
}




